@charset "UTF-8";

/* 共通部 */
html {
  font-size: 16px;
}

body {
  color: #fff;
  font-size: 1rem;
  font-family: "YuGothic", Yu Gothic, sans-serif;
  background-image: url(../image/smoke.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 0.6s;
}

a:hover {
  transition: 0.6s;
}

section {
  padding: 4rem 0 2rem 0;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: -5px;
}

.ja-title {
  font-size: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.about-text {
  letter-spacing: 0.8px;
}

.button a {
  color: #524439;
  background-color: #edf7d2;
  margin: 1rem;
  padding: 1rem 3rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  display: block;
}

.button a:hover {
  color: #fff;
  background-color: #eb9845;
  border-radius: 3rem;
  transform: translateY(5px);
  transition: 0.2s;
}

/* グローバルナビゲーション */
.g-navi {
  position: fixed;
  background-color: #524439;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.g-navi ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.g-navi ul li {
  flex-basis: 14%;
  text-align: center;
}

.g-navi ul li a {
  display: block;
  color: #fff;
  padding: 16px 0;
}

.g-navi ul li a:hover {
  color: #524439;
  background-color: #edf7d2;
}
