@charset "UTF-8";

/* 基本スタイル */
html {
  font-size: 16px;
}

body {
  color: #fff;
  background-image: url(../image/smoke.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "YuGothic", Yu Gothic, sans-serif;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 0.6s;
}

a:hover {
  transition: 0.6s;
}

.button a {
  color: #fff;
  background-color: #c4ac6e;
  margin: 1rem;
  padding: 1rem 3rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 36%);
  display: block;
}

.button a:hover {
  background-color: #a83a39;
  border-radius: 3rem;
  transform: translateY(5px);
  transition: 0.2s;
}

section {
  padding: 4rem 0 2rem 0;
}

p {
  line-height: 180%;
  padding: 4px 16px;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

form {
  margin: 2rem auto;
  max-width: 480px;
}

/* グローバルナビゲーション */
.g-navi {
  position: fixed;
  background-color: #5c4339;
  width: 100%;
  z-index: 500;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
}

.g-navi ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.g-navi ul li {
  flex-basis: 14%;
  text-align: center;
}

.g-navi ul li a {
  display: block;
  color: #fff;
  padding: 16px 0;
}

.g-navi ul li a:hover {
  color: #5c4339;
  background-color: #b5b190;
}

/* フッター */
footer {
  position: relative;
  height: 120px;
  background-color: #5c4339;
}

.logo-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  padding-top: 24px;
}

.logo {
  font-size: 2rem;
  color: #fff;
  margin-right: 24px;
}

.sns-block {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.mark {
  margin-left: 0.4rem;
}

footer small {
  display: block;
  text-align: right;
}
