@charset "UTF-8";

/* ファーストビュー */
.mv-wrapper {
  position: relative;
  height: 64vh;
}

.mv-left {
  position: absolute;
  top: 400px;
  left: 0;
  max-width: 100%;
}

/* コンセプト */
#concept {
  position: relative;
}

#concept::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(#eb9849 30%, transparent 30%);
  background-repeat: repeat;
  background-size: 4px 4px;
  transform: skewY(5deg);
  z-index: -1;
}

.concept-copy {
  text-align: center;
}

.main-copy {
  font-size: 1.5rem;
  margin-bottom: 64px;
}

.concept-text {
  margin-bottom: 24px;
  line-height: 1.8;
}

/* こだわり */
#feature {
  position: relative;
}

#feature::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #524439;
  transform: skewY(5deg);
  z-index: -1;
  opacity: 0.5;
}

.feature-image {
  border-radius: 40%;
  width: 400px;
  object-fit: cover;
  margin-left: 80px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.feature-image:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.feature-box {
  position: relative;
  padding-bottom: 72px;
}

.feature-text {
  position: absolute;
  top: 80px;
  right: 200px;
  max-width: 40%;
  border-bottom: 1px dashed #fff;
  padding-right: 160px;
}

/* メニュー */
.btn-wrapper {
  margin: 0 3rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#menu p {
  text-align: center;
}

/* おすすめ */
.recommend-title {
  color: #fff;
  background-color: #edf7d2;
  background-image: url("../image/recommend.png");
  background-size: cover;
  background-position: right;
  padding: 4rem;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  border-radius: 4rem;
}

.recommend-title:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.recommend-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.recommend-name {
  position: relative;
  background: #edf7d2;
  width: fit-content;
  margin: 2em auto;
  padding: 1.5em 1em;
  transform: rotate(-2deg);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: #524439;
}

.recommend-name::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -75px;
  width: 150px;
  height: 30px;
  background: rgba(245, 245, 245, 0.7);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-4deg);
}

.recommend-text {
  padding: 1rem;
}

.recommend-set {
  padding: 2rem;
  height: auto;
  text-align: center;
}

/* おすすめモーダル */
.modal-main {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  z-index: 50;
  overflow-y: scroll;
}

.inner {
  padding: 1rem;
  max-width: 840px;
  margin: 120px auto;
  background-image: url(../image/berry2.jpg);
  border-radius: 4rem;
  border: 4px solid #edf7d2;
  position: relative;
}

.modalClose {
  cursor: pointer;
  width: fit-content;
  position: absolute;
  right: -24px;
  top: -24px;
}


/* お買い物 */
#store {
  position: relative;
}

#store::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(#eb9845 30%, transparent 30%);
  background-repeat: repeat;
  background-size: 4px 4px;
  transform: skewY(-5deg);
  z-index: -1;
}

.store-about {
  margin-top: 32px;
  text-align: center;
}

.store-text {
  margin-bottom: 24px;
  line-height: 1.8;
}

.store-btn {
  margin: auto;
  width: 320px;
}

#store a:hover {
  background-color: #d64550;
}

/* お問い合わせ */
#contact p {
  text-align: center;
}

form {
  margin: 2rem auto;
  max-width: 480px;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  display: block;
  margin-bottom: 8px;
}

.form-name,
.form-mail,
.cp-howto select {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  color: #524439;
}

textarea {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  background: #fff;
}

.cp-howto {
  position: relative;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  background: #fff;
  width: 100%;
}

/* 矢印 */
.cp-howto::after {
  position: absolute;
  top: 14px;
  right: 10px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #666;
  pointer-events: none;
}

.cp-howto select {
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

/* Internet Explorer対応 */
.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background-color: #edf7d2;
  border-radius: 3rem;
  padding: 10px 120px;
  margin: 0 auto;
  color: #524439;
  transition: 0.6s;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.send-button:hover {
  background-color: #eb9845;
  color: #fff;
  transition: 0.2s;
  border-radius: 3rem;
  transform: translateY(5px);
}

/* このサイトについて */
#about {
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eb9845;
  background-repeat: repeat;
  transform: skewY(-5deg);
  z-index: -1;
  opacity: 0.5;
}

#about .title {
  text-align: left;
  margin-top: 4rem;
}

.about-box {
  margin: 2rem;
}

/* フッター */
footer {
  position: relative;
  padding-bottom: 8rem;
  height: 6rem;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(#eb9849 30%, transparent 30%);
  background-repeat: repeat;
  background-size: 4px 4px;
  transform: skewY(-5deg);
  z-index: -1;
}

.logo-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
}

.logo {
  font-size: 2rem;
  color: #fff;
  margin-right: 24px;
}

.sns-block {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mark {
  margin-left: 0.4rem;
}

footer small {
  display: block;
  text-align: right;
}

/* 確認画面 */

/* 受付完了 */
#completion .container {
  padding-top: 240px;
  padding-bottom: 16vw;
}

.completion-dialog {
  display: inline-block;
  text-align: left;
}

.top-btn {
  margin: 0 auto;
  width: fit-content;
}
