@charset "UTF-8";

.title {
  text-align: center;
  margin-bottom: 20px;
}

/* ファーストビュー */
.mv-wrapper {
  position: relative;
  height: 64vh;
  margin-bottom: 64px;
}

.mv-left {
  position: absolute;
  top: 400px;
  left: 0;
  max-width: 100%;
}

/* コンセプト */
#concept {
  position: relative;
}

#concept::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  z-index: -1;
  opacity: 0.5;
}

.concept-copy {
  text-align: center;
  margin-bottom: 64px;
}

.main-copy {
  font-size: 1.5rem;
  padding-bottom: 56px;
}

/* こだわり */
.feature-wrapper {
  margin-bottom: 54px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-box {
  position: relative;
}

.feature-text {
  position: absolute;
  top: 72px;
  left: 32px;
  color: #fff;
  border-bottom: #fff 2px dotted;
  width: 360px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.feature-box:hover .feature-text {
  opacity: 1;
  padding-left: 40px;
}

.feature-text h3 {
  font-size: 2rem;
}

.feature-image {
  transition: 0.5s;
  width: 33vw;
}

.feature-image:hover {
  filter: brightness(40%);
}

/* メニュー */
#menu {
  height: 500px;
  position: relative;
}

#menu::before {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  background-repeat: repeat;
  transform: skewY(-5deg);
  z-index: -10;
}

.book {
  position: absolute;
  right: 880px;
  top: 48px;
  z-index: -1;
  transform: rotate(-5deg);
}

#menu .container {
  float: right;
  text-align: center;
}

.menu-img {
  border-radius: 8rem;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.menu-btn {
  padding: 24px 8px;
  filter: drop-shadow(0 0.5rem 1rem hsl(0 0% 0% / 60%));
  transition: all 0.3s;
  position: relative;
}

.menu-btn:hover {
  transform: translateY(-8px);
}

.menu-btn h3 {
  position: absolute;
  top: 100px;
  left: 80px;
  color: #fff;
  font-size: 1.5rem;
}

/* おすすめ */
.recommend-title {
  color: #fff;
  background-color: #a83a39;
  padding: 4rem;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
  border-radius: 24rem;
  max-width: fit-content;
  margin: 0 auto 40px auto;
  transform: skewY(-5deg);
  transition: 0.5s;
}

.recommend-title:hover {
  background-color: #fff;
  color: #a83a39;
}

/* おすすめモーダル */
.modal-main {
  display: none;
}

.inner {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inner-content {
  margin: 4% 0 0 0;
  padding: 0;
  max-width: 600px;
}

.inner-content img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 2rem;
}

.modalClose {
  cursor: pointer;
}


/* お買い物 */
#store {
  position: relative;
  height: 420px;
}

.cart {
  position: absolute;
  left: 900px;
  top: -40px;
  z-index: -1;
  transform: rotate(-5deg);
}

#store::before {
  content: "";
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  background-repeat: repeat;
  transform: skewY(-5deg);
  z-index: -10;
}

#store .container {
  float: left;
  text-align: center;
  padding-bottom: 80px;
}

.store-btn {
  margin: 24px auto 0 auto;
  width: 320px;
}

/* お問い合わせ */
#contact p {
  text-align: center;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  display: block;
  margin-bottom: 8px;
}

.form-name,
.form-mail,
.cp-howto select {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  color: #524439;
}

textarea {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  background: #fff;
}

.cp-howto {
  position: relative;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  background: #fff;
  width: 100%;
}

/* 矢印 */
.cp-howto::after {
  position: absolute;
  top: 14px;
  right: 10px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #666;
  pointer-events: none;
}

.cp-howto select {
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

/* Internet Explorer対応 */
.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background-color: #c4ac6e;
  border-radius: 3rem;
  padding: 10px 80px;
  margin: 0 auto;
  color: #fff;
  transition: 0.6s;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
}

.send-button:hover {
  background-color: #a83a39;
  transition: 0.2s;
  border-radius: 3rem;
  transform: translateY(5px);
}

/* このサイトについて */
#about {
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  z-index: -1;
  opacity: 0.5;
}

#about .container {
  display: flex;
  justify-content: space-between;
}

#about .title {
  text-align: left;
}

@media screen and (max-width:768px) {

  /* 画面サイズ：768px以下 */
  /* このサイトについて */
  #about .container {
    display: block;
  }

  /* お買い物 */
  #store {
    position: relative;
    height: 360px;
  }

  .cart {
    display: none;
  }

  #store::before {
    content: "";
    position: absolute;
    top: -30px;
  }

  #store .container {
    float: none;
  }

  .store-btn {
    margin: 0 auto;
    width: 320px;
  }

  /* おすすめ */
  .recommend-title {
    padding: 3rem;
    border-radius: 2rem;
  }

  .recommend-title p {
    display: none;
  }

  /* おすすめモーダル */
  .inner {
    width: 100vw;
  }

  .inner-content {
    margin-top: 20%;
    padding: 1rem;
    max-width: 400px;
  }

  /* メニュー */
  #menu {
    height: 440px;
    position: relative;
  }

  .book {
    display: none;
  }

  #menu .container {
    float: none;
    text-align: center;
    padding-top: 24px;
  }

  .menu-btn {
    padding: 8px;
    position: relative;
    display: none;
  }

  .prev {
    width: 60px;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 60px;
    transition: all 0.3s;
    z-index: 10;
    cursor: pointer;
  }

  .prev::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: solid 3px #828282;
    border-right: solid 3px #828282;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    left: 24px;
    top: 10px;
  }

  .next {
    width: 60px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 60px;
    transition: all 0.3s;
    z-index: 10;
    cursor: pointer;
  }

  .next::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: solid 3px #828282;
    border-left: solid 3px #828282;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    left: 24px;
    top: 10px;
  }

  .menu-btn.active {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
