@charset "UTF-8";

.title {
  text-align: center;
  margin-bottom: 40px;
}

/* ファーストビュー */
.mv-wrapper {
  position: relative;
  height: 64vh;
  margin-bottom: 64px;
}

.mv-left {
  position: absolute;
  top: 400px;
  left: 0;
  max-width: 100%;
}

/* コンセプト */
#concept {
  position: relative;
}

#concept::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  z-index: -1;
  opacity: 0.5;
}

.concept-copy {
  text-align: center;
  margin-bottom: 64px;
}

.main-copy {
  font-size: 1.5rem;
  padding-bottom: 56px;
}

/* こだわり */
#feature {
  position: relative;
}

.feature-image {
  border-radius: 40%;
  width: 400px;
  object-fit: cover;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
  transition: 0.3s;
}

.feature-image:hover {
  transform: translateY(-8px);
}

.feature-box {
  position: relative;
  padding-bottom: 72px;
}

.feature-text {
  position: absolute;
  top: 80px;
  right: 200px;
  max-width: 40%;
  border-bottom: 1px dashed #fff;
  padding-right: 160px;
}

/* メニュー */
#menu {
  height: 540px;
  position: relative;
}

#menu::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  background-repeat: repeat;
  transform: skewY(-5deg);
  z-index: -10;
}

.book {
  position: absolute;
  right: 880px;
  top: 96px;
  z-index: -1;
  transform: rotate(-5deg);
}

#menu .container {
  float: right;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.menu-btn {
  padding: 24px 4px;
  filter: drop-shadow(0 0.5rem 1rem hsl(0 0% 0% / 60%));
  transition: all 0.3s;
  position: relative;
}

.menu-btn:hover {
  transform: translateY(-8px);
}

.menu-btn h3 {
  position: absolute;
  top: 100px;
  left: 60px;
  color: #fff;
  font-size: 1.5rem;
}

/* おすすめ */
.recommend-title {
  color: #fff;
  background-image: url("../image/paper.jpg");
  padding: 4rem;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
  border-radius: 4rem;
}

.recommend-title:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

/* おすすめモーダル */
.inner img {
  border-radius: 2rem;
}

.modal-main {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 50;
  overflow-y: scroll;
}

.inner {
  max-width: 840px;
  margin: 120px auto;
  position: relative;
}

.modalClose {
  cursor: pointer;
  width: fit-content;
  position: absolute;
  right: -24px;
  top: -44px;
}


/* お買い物 */
#store {
  position: relative;
  height: 460px;
}

.cart {
  position: absolute;
  left: 900px;
  top: 92px;
  z-index: -1;
  transform: rotate(-5deg);
}

#store::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  background-repeat: repeat;
  transform: skewY(-5deg);
  z-index: -10;
}

#store .container {
  float: left;
  text-align: center;
  padding-bottom: 80px;
}

.store-btn {
  margin: 24px auto 0 auto;
  width: 320px;
}

/* お問い合わせ */
#contact p {
  text-align: center;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  display: block;
  margin-bottom: 8px;
}

.form-name,
.form-mail,
.cp-howto select {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  color: #524439;
}

textarea {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  background: #fff;
}

.cp-howto {
  position: relative;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  background: #fff;
  width: 100%;
}

/* 矢印 */
.cp-howto::after {
  position: absolute;
  top: 14px;
  right: 10px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #666;
  pointer-events: none;
}

.cp-howto select {
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

/* Internet Explorer対応 */
.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background-color: #c4ac6e;
  border-radius: 3rem;
  padding: 10px 80px;
  margin: 0 auto;
  color: #fff;
  transition: 0.6s;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
}

.send-button:hover {
  background-color: #a83a39;
  transition: 0.2s;
  border-radius: 3rem;
  transform: translateY(5px);
}

/* このサイトについて */
#about {
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b190;
  z-index: -1;
  opacity: 0.5;
}

#about .container {
  display: flex;
  justify-content: space-between;
}

#about .title {
  text-align: left;
}
